.logo {
    width: 430px;
    height: 380px;
}

header {
    background: #123b07;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: #f4f7ca;
    font-weight: bold;
    font-size: 22px;
}