.logo {
    width: 370px;
    height: 310px;
    margin: 0px;
}

header {
    background: #123b07;
    padding: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: ;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #f4f7ca;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: ttc;
    margin: 1,5%; 
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.imagem {
    width: 260px;
    height: 250px;
}

.imagem1 {
    width: 390px;
    height: 320px;
}