body {
    background: rgb(1, 37, 10);
}

h1 {
    text-align:center;
    background: rgb(252, 246, 190);
    color: rgb(71, 5, 2);
}

h2 {
    text-align:center;
}

p {
    text-align: center;
    color:antiquewhite;

}