body {
    background: rgb(1, 37, 10);
}

h1 {
    text-align:center;
    background: rgb(71, 8, 3);
    color: rgb(247, 243, 188);
}

h2 {
    text-align:center;
}

p {
    text-align: center;
    color:antiquewhite;

}