body {
    background: rgb(1, 37, 10);
}

#banner {
    width: 350px;
    height: 350px;
}

h1 {
    text-align:center;
    background: rgb(71, 8, 3);
    color: rgb(247, 243, 188);
}

h2 {
    text-align:center;
    color:antiquewhite
}

p {
    text-align: center;
    color:antiquewhite;

}

.rodape{
    text-align: center;
    color: antiquewhite;
}